/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #191a1b;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --light-gray-color: rgb(182, 178, 178);
  --bg-color: rgb(57, 63, 70);
  --nav-color: rgba(27, 30, 32, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

audio {
  background-color: red;
}

body {
  flex: 1;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: rgb(240, 239, 239);
}

a {
  color: var(--light-gray-color);
  text-decoration: none;
}

a :hover {
  color: gray;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.img-thumbnail {
  width: 30%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
  color: red;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

/* .btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
} */

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  top: 0;
  z-index: 2000;
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: rgb(255, 255, 255) solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dark-bg-overlay {
  /* background: url("./img/landing-bg.jpg") repeat center center/cover; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.light-overlay {
  /* background-color: rgba(47, 124, 187, 0.438); */
  position: absolute;
  top: 0;
  left: 26%;
  width: 50%;
  min-width: 300px;
  height: 100%;
}

/* Forms */

.form .form-group {
  margin: 1.2rem 0;
}
.form-group input {
  border-bottom: 1px solid var(--light-gray-color) !important;
  color: var(--light-gray-color) !important;
}

.form-group ::placeholder {
  color: var(--light-gray-color) !important;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

::placeholder {
  color: white;
  font-size: 15px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 110%;
  padding: 0.4rem;
  font-size: 15px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: Courier, monospace;
  font-weight: bold;
  text-align: center;
}

.form input[type="submit"],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */

.navbar {
  height: 100%; /* 100% Full-height */
  width: 150px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding: 0.7rem 2rem;
  background-color: var(--nav-color);
  padding: 0.7rem 2rem;
}

.navbar-header img {
  position: relative;
  width: 130px;
  right: 24px;
}

.fa-bars {
  color: var(--light-gray-color) !important;
  font-size: 2rem !important;
}

.navbar h1 {
  margin-bottom: 1rem;
}

.navbar .welcome {
  display: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li a {
  display: block;
  color: var(--light-color);
  width: 100%;
  font-size: 200%;
  top: 0;
  padding: 5px 10px;
}
.navbar li a:focus {
  color: var(--danger-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.fa-power-off {
  color: var(--danger-color);
}

.guestLinks {
  visibility: hidden;
}

/* Landing Page */
.landing {
  position: relative;
  /* background: url("./img/landing-bg.jpg") repeat center center/cover; */
  height: 100vh;
}
.logo {
  position: absolute;
  width: 30%;
  top: 13%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.landing-inner {
  position: relative;
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Dashboard Page */
.dashboard {
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-welcome {
  position: absolute;
  width: 400px;
  height: 250px;
}

.welcome-text {
  position: relative;
  font-size: 1rem;
  left: 300px;
}

.dropdown {
  position: absolute;
  left: 800px;
}

.dropdown-menu {
  background-color: var(--bg-color) !important;
}

.profile-pic {
  position: absolute;
  width: 202.8px;
  height: 202.8px;
  left: 166px;
  border: 2px solid white;
  border-radius: 100px 100px 100px 100px;
}

.welcome-pic {
  position: absolute;
  width: 202.8px;
  height: 202.8px;
  left: 10px;
  border: 2px solid white;
  border-radius: 100px 100px 100px 100px;
}

.upload-pic {
  opacity: 0.8;
}

.upload-pic-update {
  position: absolute;
  color: white;
  left: 328px;
  /* right: 112px; */
  margin-top: 150px;
  font-size: 200%;
}

.upload-pic-new {
  position: absolute;
  color: white;
  left: 170px;
  /* right: 112px; */
  margin-top: 150px;
  font-size: 200%;
  z-index: 100;
}

.upload-pic :hover {
  opacity: 1;
}

.dashboard-info {
  position: absolute;
  width: 200px;
  left: 500px;
}

.border-secondary {
  position: relative;
  width: 900px;
  height: 250px;
  left: 150px;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    "top top"
    "about about"
    "exp edu"
    "github github";
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.follower-top {
  position: relative;
  left: 200px;
  flex-direction: column;
}

.follower-top div {
  margin: 6px;
}

.xxx {
  position: absolute;
  left: 400px;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.posts {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.post-form {
  padding: 6% 15%;
}

.post-form-title h1 {
  position: relative;
  text-align: center;
  top: 100px;
  color: var(--light-gray-color);
}
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post-form button {
  position: relative;
  width: 20%;
  left: 25%;
  text-align: center;
  margin: 2%;
}

.post-form .submit {
  position: relative;
  text-align: center;
  margin-top: 8%;
}

.post-form .submit input {
  width: 50%;
}
.post-form textarea ::placeholder {
  color: aqua !important;
}
.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 2rem;
  grid-gap: 2rem;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgba(66, 64, 64, 0.3);
  padding: 6px;
}

.dashboard-post {
  position: relative;
  width: 60%;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgba(66, 64, 64, 0.3);
  display: flex;
  orientation: row;
  left: 20%;
  margin-top: 2rem;
  padding: 2rem;
  grid-gap: 2rem;
  align-items: center;
}
.wrapper {
  overflow: hidden;
  width: 100%;
  overflow-wrap: break-word;
}

.post-line {
  position: relative;
  left: 100%;
  width: 400%;
  margin-top: 20px;
  border-bottom: 2px solid rgb(92, 90, 90);
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post-date {
  color: rgba(175, 171, 171, 0.6);
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

.postForm {
  color: brown;
  font-size: 5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 3rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1.5rem;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github";
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
/* Modal CSS */
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
